<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/groups/258372744233395/" "svg" "icons-facebook") }}

<li class="dib ph2 raise">
  <a href="https://flightlog.org/fl.html?l=1&country_id=160&club_id=38&a=43" class="link bg-white black db relative br-100 pa2">
	  <img width="16px" height="16px" class="db" href="/img/icons-flightlog.svg" />
  </a>
</li>

					{{ partial "social-icon" (dict "link" "https://vimeo.com/tag:rhlsk" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
